.cartitem{
    margin: 100px,170px;
}
.cartitem hr {
    height: 3px;
    color: rgb(191, 223, 250);
    border: 0;
}
.cartitem-format-main{
    display:grid;
    grid-template-columns:  0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 25px;
    padding: 20px 0px;
    color:rgb(56, 54, 54) ;
    font-size: 18px ;
    font-weight: 600;
}
@media (max-width: 768px) {
    .cartitem-format-main {
        grid-template-columns: 1fr; /* single column */
        gap: 12px;
        font-size: 14px;
        text-align: center; 
    }
.cartitem-format{
    font-size: 17px;
    font-weight: 500px;
}
.carticon_product-icon{
    height: 62px;

}
.carticon-remove_icon{
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}
.cartitem-quantity{
    width: 60px;
    height: 50px;
    border: 2px solid rgb(250, 244, 244);
    background: silver;
} 
.cartitems-down{
    display: flex;
    margin: 100px 0px;
}
.cartitems-total{
    flex: 1;
    display: flex;
    flex-direction: column ;
    margin: 60px ;
    gap: 40px;
}
.cartitems-total-item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}
.cartitems-total button{
 width: 260px;
 height: 70px;
 outline: none;
 border: none;
 background: orangered;
 color: white;
 font-size: 16px;
 font-weight: 600;
 cursor: pointer;
}
