.productdisplay{
 display: flex;
 margin: 0px 170px;
 max-width: 1200px;
 padding: 0 20px;
 flex-wrap: wrap;
} 
.productdisplay-left{
    display: flex;
    gap: 17px;
}
.productdisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 16px;

}
.productdisplay-img-list img{
    height: 160px;

}
.product_display_img{
    width: 586px;
    height: 700px;
}
.productdisplay-right{
    margin: 0px 70px;
    flex-direction: column;
}
.productdisplay-right h1{
  color:rgb(23, 48, 23) ;
  font-size: 40px ;
  font-weight:600 ;
}
.productdisplay-right-stars{
    display: flex;
    align-items: center;
    margin-top:14px ;
    gap:5px ;
    font-size: 16px;
    color: rgb(43, 42, 44);
}
.productdisplay-right-prices{
  display: flex;
  margin: 40px 30px;
  gap: 30px;
  font-size:24px ;
  font-weight: 700;
}
.productdisplay-right-price-old{
    text-decoration: line-through;
    color: #818181;
}
.productdisplay-right-price-new{
    color: rgb(185, 14, 14);
       
}
.productdisplay-right-sizes h1{
    margin-top: 55px;
    color: #656565;
    font-size:20px ;
    font-weight: 600;

}
.productdisplay-right-sizes{
    display: flex;
    margin: 30px 0;
    gap: 20px;
}
.productdisplay-right-sizes div{
    padding: 18px 25px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}
.productdisplay-right button{
    padding:20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background:#ff4141 ;
    margin-bottom:40px ;
    border: none ;
    outline: none;
    cursor: pointer;
}
.product-displayright-category{
    margin-top: 10px;
}
.product-displayright-category span{
    font-weight: 600;
}

.product_display_img {
    width: 586px;
    height: 700px;
    object-fit: cover; 
}

@media (max-width: 600px) {
  .productdisplay {
    flex-direction: column;
    margin: 0 0px;
    align-items: center;
  }

  .productdisplay-left {
    flex-direction: column;
    align-items: center;
  }

  .product_display_img {
    width: 100%;
    max-width: 320px;  
    height: auto;      
  }

  .productdisplay-right {
    margin: 20px 0;
    text-align: center;
  }

  .productdisplay-right h1 {
    font-size: 24px;
  }

  .productdisplay-right-prices {
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
    font-size: 18px;
  }

  .productdisplay-right-sizes {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .productdisplay {
    flex-direction: column;
    margin: 0 40px;
    align-items: center;
  }

  .product_display_img {
    width: 100%;
    max-width: 500px;  
    height: auto;
  }

  .productdisplay-right {
    margin: 30px 0;
    text-align: center;
  }

  .productdisplay-right h1 {
    font-size: 30px;
  }

  .productdisplay-right-prices {
    justify-content: center;
    font-size: 20px;
  }
}