.breadcrums{
    display: flex;
    align-items: center;
    gap: 8px;
    color:rgb(77, 108, 74) ;
    font-size: 16px;
    font-weight: 600;
    margin: 60px 170px;
    text-transform: capitalize;
}
@media (max-width: 768px) {
    .breadcrums {
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;

        margin: 20px 60px;
        font-size: 14px;
    }
}