.loginsignup {
    width: 100%;
    min-height: 100vh;
   background: linear-gradient(135deg, #8ea0f0, #d3baec);
    padding: 100px;
    box-sizing: border-box;
}

.loginsignup-container{
    width:580px ;
    max-width: 580px;
    background: linear-gradient(180deg, #b4d3f5, #f6f2f2);
    padding: 40px 60px;
    margin: auto;
}
.loginsignup-container h1{
    margin: 20px 0px;
}
.loginsignup-fields{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}
.loginsignup-fields input{
    height: 70px;
    width: 100%;
    padding-left: 20px;
    border-radius: 30px;
    border: 1px solid rgb(30, 32, 30);
    outline: none;
    color:rgb(34, 33, 33) ;
    font-size: 18px;
}
.loginsignup-container button{
    margin-left: -22px;
    width:480px ;
    height: 72px;
    color: white;
    background: orangered;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}
@media (max-width: 600px) {
    .loginsignup-container button {
        width: 100%;        /* fit container */
        max-width: 360px;   /* prevent full screen */
        height: 56px;
        margin-left: 1px;
        font-size: 18px;
    }
}
.loginsignup-login{
    margin-top: 20px;
    color: rgb(44, 43, 43);
    font-size: 22px;
    font-weight: 500;
}
.loginsignup-login span{
    color: orangered;
    font-weight: 600;
}
.loginsignup-agree{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    gap: 20px;
    color:rgb(74, 37, 37) ;
    font-size: 18px;
    font-weight:500px ;
}
.loginsignup-agree input[type="checkbox"] {
  width: 16px;
  height: 20px;
  transform: scale(0.9);
  cursor: pointer;
}

@media (max-width: 600px) {
  .loginsignup {
    padding: 40px 20px;
  }

  .loginsignup-container {
    width: 100%;
    padding: 30px 20px;
  }

  .loginsignup-fields input {
    height: 55px;
    font-size: 16px;
  }

  .loginsignup-login {
    font-size: 18px;
  }

  .loginsignup-agree {
    font-size: 16px;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .loginsignup {
    padding: 60px 40px;
  }

  .loginsignup-container {
    width: 90%;
    padding: 35px 30px;
  }

  .loginsignup-fields input {
    height: 60px;
    font-size: 17px;
  }

  .loginsignup-container button {
    height: 65px;
    font-size: 22px;
  }

  .loginsignup-login {
    font-size: 20px;
  }
}