* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 80px;
  background: linear-gradient(135deg, #0a0e27, #1e3a5f);
  color: white;
  font-family: Arial, sans-serif;
}

/* LEFT */
.hero-left h2 {
  letter-spacing: 4px;
  font-size: 14px;
  color: #00f7ff;
  margin-bottom: 15px;
}

.hero-left h1 {
  font-size: 64px;
  line-height: 1.1;
}

.hand {
  width: 50px;
  vertical-align: middle;
      animation: wave 2s infinite ease-in-out;
}

/* BUTTON */
.hero-btn {
  margin-top: 30px;
  padding: 14px 30px;
  border-radius: 30px;
  border: none;
  background: #00f7ff;
  color: #0a0e27;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.hero-btn img {
  width: 18px;
}

/* RIGHT */
.hero-right img {
  width: 420px;
  max-width: 100%;
  animation: float 4s ease-in-out infinite;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
  }

  .hero-left h1 {
    font-size: 42px;
  }

  .hero-right img {
    margin-top: 40px;
    width: 280px;
  }
}
