
html, body, #root {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

.app-content {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  width: 100%;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #fff; 
}


.productdisplay {
  width: 100%;
  max-width: 1200px;   
  margin: 0 auto;      
  padding: 0 ;     
}@media (max-width: 600px) {
    .productdisplay {
        flex-direction: column;
        align-items: center;
        gap: 24px;
        margin: 0;
        width: 100%;
    }
}
.cartitem{
  width: 100%;
  max-width: 1200px;  
  margin: 0 auto;     
  padding: 0 20px;     
}