.relateproducts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;

}
.relateproducts h1{
    color: rgb(6, 6, 16);
    font-size:30px ;
    font-weight: 600;
}
.relateproducts hr{
    width: 200px;
    border-radius:10px ;
    height: 6px;
    background: #252525;
}
.related-productitem{
    margin-top: 50px;
    gap: 30px;
    display: flex;
}
@media (max-width: 768px) {
    .related-productitem {
        flex-direction: column;
        align-items: center;   /* centers items */
        gap: 20px;
    }
}